
 .bg-yello {
    background-color: gold;
}


.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;

}

/* Drowdown */
.selDataset {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
/* remove default margin and padding from body */
body {
    padding: 0;
    margin: 0;
  }

  /* set map, body, and html to 100% of the screen size */



  #map-id {
    height: 100%;
    padding: 0;
    margin: 0;
    
    /* width: 50vw;
 height: 50vh; */
  }

  .legend {
    padding: 10px;
    font-family: Sanchez, serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 18px;
    color: #555;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  }

  .legend .q1_acceptance {
    color: gold;
  }

  .legend .q2_acceptance {
    color: maroon;
  }

  .legend .q3_acceptance {
    color: rgb(107, 107, 185);
  }

  .legend .q4_acceptance {
    color: green;
  }
